#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=XAMPP
Type=Application
MimeType=application/x-desktop
Comment=Start XAMPP graphical Control Panel
Exec=bash -c 'if type gksudo; then gksudo /opt/lampp/manager-linux-x64.run; elif type pkexec; then pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY /opt/lampp/manager-linux-x64.run; else if type zenity; then zenity --info --text="You must have gksudo or pkexec installed to be able to run XAMPP by invoking desktop icon";fi;fi'
Icon=/opt/lampp/htdocs/favicon.ico
Encoding=UTF-8
Terminal=false
StartupNotify=false
Categories=Network;Development
